{% extends "base.html" %}
{% block title %}Request{% endblock %}

{% block user_table %}

<h1 style="text-align:center;margin-top:15px;">Tutors</h1>
<ul class="list-group list-group-flush" id="users">
    {% for user in users %}
    <li class="list-group-item">
        {{ user.id }}
        {{ "." }}
        {{ user.first_name }}
    </li>
    {% endfor %}
</ul>
{% endblock %}

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>