{% extends "base.html" %}
{% block title %}Request{% endblock %}
{% block content %}

<br />

<style>
    .subject {
        margin-top:10px;
    }
    .other {
        margin-top:10px;
    }
</style>

<form method="POST">
    <div class="subject">
        {% if user.role == "tutor" %}
        <h5>Select subjects would you like to tutor?</h5>

        {% elif user.role == "tutee" %}
        <h5 style="color:#026592;">Select subjects would you like to tutored?</h5>

        {% endif %}

        <div class="form-check" style="color:#026592;">
        <input class="form-check-input" name="math" type="checkbox" value="math" id="math">
        <label class="form-check-label" for="math">
            Math
        </label>
        </div>

        <div class="form-check" style="color:#026592;">
        <input class="form-check-input" name="english" type="checkbox" value="english" id="english">
        <label class="form-check-label" for="english">
            English
        </label>
        </div>

        <div class="form-check" style="color:#026592;">
        <input class="form-check-input" name="geography" type="checkbox" value="geography" id="geography">
        <label class="form-check-label" for="geography">
            Geography
        </label>

        </div>
        <div class="form-check" style="color:#026592;">
        <input class="form-check-input" name="history" type="checkbox" value="history" id="history">
        <label class="form-check-label" for="history">
            History
        </label>
        </div>

        <div class="form-check" style="color:#026592;">
        <input class="form-check-input" name="physics" type="checkbox" value="physics" id="physics">
        <label class="form-check-label" for="physics">
            Physics
        </label>
        </div>

        <div class="form-check" style="color:#026592;">
        <input class="form-check-input" name="chemistry" type="checkbox" value="chemistry" id="chemistry">
        <label class="form-check-label" for="chemistry">
            Chemistry
        </label>
        </div>

        <div class="form-check" style="color:#026592;">
        <input class="form-check-input" name="biology" type="checkbox" value="biology" id="biology">
        <label class="form-check-label" for="biology">
            Biology
        </label>
        </div>

        <div class="form-check" style="color:#026592;">
        <input class="form-check-input" name="french" type="checkbox" value="french" id="french">
        <label class="form-check-label" for="french">
            French
        </label>
        </div>

        <div class="form-check" style="color:#026592;">
        <input class="form-check-input" name="mandarin" type="checkbox" value="mandarin" id="mandarin">
        <label class="form-check-label" for="mandarin">
            Mandarin
        </label>
        </div>

        <div class="form-check" style="color:#026592;">
        <input class="form-check-input" name="compsci" type="checkbox" value="compsci" id="compsci">
        <label class="form-check-label" for="compsci">
            Computer Science
        </label>
        </div>

    </div>

    <br />

    <h5 style="color:#026592;">What time are you available?</h5>

    <div class="form-check" style="color:#026592;">
        <input class="form-check-input" type="checkbox" value="monBeforeSchool" id="monBeforeSchool">
        <label class="form-check-label" for="monBeforeSchool">
            Monday Before School
        </label>

    </div>

    <div class="form-check" style="color:#026592;">
        <input class="form-check-input" type="checkbox" value="monLunch" id="monLunch">
        <label class="form-check-label" for="monLunch">
            Monday During Lunch
        </label>
    </div>

    <div class="form-check" style="color:#026592;">
        <input class="form-check-input" type="checkbox" value="monAfterSchool" id="monAfterSchool">
        <label class="form-check-label" for="monAfterSchool">
            Monday After School
        </label>
    </div>

    <br />

    <div class="form-check" style="color:#026592;">
        <input class="form-check-input" type="checkbox" value="tueBeforeSchool" id="tueBeforeSchool">
        <label class="form-check-label" for="tueBeforeSchool">
            Tuesday Before School
        </label>
    </div>

    <div class="form-check" style="color:#026592;">
        <input class="form-check-input" type="checkbox" value="tueLunch" id="tueLunch">
        <label class="form-check-label" for="tueLunch">
            Tuesday During Lunch
        </label>
    </div>

    <div class="form-check" style="color:#026592;">
        <input class="form-check-input" type="checkbox" value="tueAfterSchool" id="tueAfterSchool">
        <label class="form-check-label" for="tueAfterSchool">
            Tuesday After School
        </label>
    </div>

    <br />

    <div class="form-check" style="color:#026592;">
        <input class="form-check-input" type="checkbox" value="wedBeforeSchool" id="wedBeforeSchool">
        <label class="form-check-label" for="wedBeforeSchool">
            Wednesday Before School
        </label>
    </div>

    <div class="form-check" style="color:#026592;">
        <input class="form-check-input" type="checkbox" value="wedLunch" id="wedLunch">
        <label class="form-check-label" for="wedLunch">
            Wednesday During Lunch
        </label>
    </div>

    <div class="form-check" style="color:#026592;">
        <input class="form-check-input" type="checkbox" value="wedAfterSchool" id="wedAfterSchool">
        <label class="form-check-label" for="wedAfterSchool">
            Wednesday After School
        </label>
    </div>

    <br />

    <div class="form-check" style="color:#026592;">
        <input class="form-check-input" type="checkbox" value="thurBeforeSchool" id="thurBeforeSchool">
        <label class="form-check-label" for="thurBeforeSchool">
            Thursday Before School
        </label>
    </div>

    <div class="form-check" style="color:#026592;">
        <input class="form-check-input" type="checkbox" value="thurLunch" id="thurLunch">
        <label class="form-check-label" for="thurLunch">
            Thursday During Lunch
        </label>
    </div>

    <div class="form-check" style="color:#026592;">
        <input class="form-check-input" type="checkbox" value="thurAfterSchool" id="thurAfterSchool">
        <label class="form-check-label" for="thurAfterSchool">
            Thursday After School
        </label>
    </div>

    <br />

    <div class="form-check" style="color:#026592;">
        <input class="form-check-input" type="checkbox" value="friBeforeSchool" id="friBeforeSchool">
        <label class="form-check-label" for="friBeforeSchool">
            Friday Before School
        </label>
    </div>

    <div class="form-check" style="color:#026592;">
        <input class="form-check-input" type="checkbox" value="friLunch" id="friLunch">
        <label class="form-check-label" for="friLunch">
            Friday During Lunch
        </label>
    </div>

    <div class="form-check" style="color:#026592;">
        <input class="form-check-input" type="checkbox" value="friAfterSchool" id="friAfterSchool">
        <label class="form-check-label" for="friAfterSchool">
            Friday After School
        </label>
    </div>
    <br />
    <button type="submit" class="btn" id="submitbtn" style="background-color:#0287c3;color:white;">Submit</button>

</form>

<<style>
    .subject {
        margin-top:10px;
    }
    .other {
        margin-top:10px;
    }
</style>

{% endblock %}