{% extends "base.html" %}
{% block title %}Request{% endblock %}
{% block content %}

<br />

<style>
    .subject {
        margin-top:10px;
    }
    .other {
        margin-top:10px;
    }
</style>


<form method="POST">
    <div class="form-group">
    <label for="subjects" style="color:#026592;">Subject</label>
        <input type="text" class="form-control" id="subjects" name="subjects" placeholder="Enter subjects" />
    </div>

    <div class="from-group">
        <label for="grade" style="color:#026592;">Grade</label>
        <input type="text" class="form-control" id="grade" name="grade" placeholder="Enter grade" />
    </div>

<!--    ask for parent email-->
    <!--
    <div class="subject">
        <div class="form-check">
        <input class="form-check-input" name="math" type="checkbox" value="math" id="math">
        <label class="form-check-label" for="math">
            Math
        </label>
        </div>

        <div class="form-check">
        <input class="form-check-input" name="english" type="checkbox" value="english" id="english">
        <label class="form-check-label" for="english">
            English
        </label>
        </div>

        <div class="form-check">
        <input class="form-check-input" name="history" type="checkbox" value="history" id="history">
        <label class="form-check-label" for="history">
            History
        </label>
        </div>

        <div class="form-check">
        <input class="form-check-input" name="geography" type="checkbox" value="geography" id="geography">
        <label class="form-check-label" for="geography">
            Geography
        </label>
        </div>

        <div class="form-check">
        <input class="form-check-input" name="physics" type="checkbox" value="physics" id="physics">
        <label class="form-check-label" for="physics">
            Physics
        </label>
        </div>

        <div class="form-check">
        <input class="form-check-input" name="chemistry" type="checkbox" value="chemistry" id="chemistry">
        <label class="form-check-label" for="chemistry">
            Chemistry
        </label>
        </div>

        <div class="form-check">
        <input class="form-check-input" name="biology" type="checkbox" value="biology" id="biology">
        <label class="form-check-label" for="biology">
            Biology
        </label>
        </div>

        <div class="form-check">
        <input class="form-check-input" name="french" type="checkbox" value="french" id="french">
        <label class="form-check-label" for="french">
            French
        </label>
        </div>

        <div class="form-check">
        <input class="form-check-input" name="mandarin" type="checkbox" value="mandarin" id="mandarin">
        <label class="form-check-label" for="mandarin">
            Mandarin
        </label>
        </div>

        <div class="form-check">
        <input class="form-check-input" name="compsci" type="checkbox" value="compsci" id="compsci">
        <label class="form-check-label" for="compsci">
            Computer Science
        </label>
        </div>
    </div>
    -->

    <br />

    <button type="submit" class="btn btn-primary" id="submitbtn">Submit</button>

</form>

<style>
    .subject {
        margin-top:10px;
    }
    .other {
        margin-top:10px;
    }
</style>

{% endblock %}