{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<form method="POST">
    <h3 style="text-align:center;margin-top:15px;color:#026592;">Sign Up</h3>
    <div class="form-group">
        <label for="email" style="color:#026592;">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
    </div>

    <div class="form-group">
        <label for="firstName" style="color:#026592;">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name" />
    </div>

    <div class="form-group">
        <label for="lastName" style="color:#026592;">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter last name" />
    </div>

    <div class="form-group">
        <label for="password1" style="color:#026592;">Password</label>
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password" />
    </div>

    <div class="form-group">
        <label for="password2" style="color:#026592;">Confirm Password</label>
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password" />
    </div>

    <div class="from-group">
        <label for="role" style="color:#026592;">Role</label>
        <input type="text" class="form-control" id="role" name="role" placeholder="Tutor, tutee or admin?" />
    </div>
<!--hello-->
    <br />
    <button type="submit" class="btn" style="background-color:#0287c3;color:white;">Submit</button>

</form>

<!--
<h3 style="text-align:center;color:#026592;">Are you a tutor, tutee or admin?</h3>

<div class="form-check">
  <input class="form-check-input" type="radio" name="role" id="tutor" value="tutor" checked>
  <label class="form-check-label" for="tutor" style="color:#026592;">
    Tutor
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="role" id="tutee" value="tutee" checked>
  <label class="form-check-label" for="tutee" style="color:#026592;">
    Tutee
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="role" id="admin" value="admin">
  <label class="form-check-label" for="admin" style="color:#026592;">
    Admin
  </label>
</div>
-->

{% endblock %}