{% extends "base.html" %}
{% block title %}Tutor Training Manual{% endblock %}

{% block content %}

<iframe id="mainFrame" style="width:100%;height:85vh" src="https://docs.google.com/presentation/d/1Pvyn8MZ4d8c-YUAQvJ5sj4nhVNiivHcmiWhpuXCZM-g/edit#slide=id.g853034354b_0_24768" frameborder="0" ></iframe>
<!--</br>-->
<!--<h1>Peer Tutor Manual</h1>-->
<!--</br>-->

<!--<div >-->
<!--  <div style="display: inline-block;">-->
<!--<h3>Club Heads and Teacher Supports</h3>-->
<!--<p><b>CLUB HEADS:</b>-->
<!--  </br>-->
<!--Coco Wang: cwang3@branksome.on.ca </br> </br>-->
<!--Megan Kwan: mkwan@branksome.on.ca</br> </br>-->
<!--<b>TEACHER SUPPORTS:</b> </br>-->
<!--Ms. Contreras: mcontreras@branksome.on.ca </br> </br>-->
<!--Ms. Blyth: cblyth@branksome.on.ca-->
<!--</p>-->
<!--    </div>-->
<!--<div style="display: inline-block; margin-top: 100px;">-->
<!--  <h3>Getting Started</h3>-->
<!--  <p>1. Contact Tutee by email to introduce yourself (e.g name, grade, subject, hobbies etc.) </br> </br>-->
<!--2. Set up your first session (You are in charge of your own meetings with your tutee)</br> </br>-->
<!--3. Follow up with the Club Heads if there is no response from your tutee within 48 hours</br>-->
<!--</p>-->
<!--  </div>-->
{% endblock %}
