{% extends "base.html" %}
{% block title %}Tutor Hours{% endblock %}

{% block content %}
<body>
    <h1>Minutes Logged by {{ tutor.first_name }} {{ tutor.last_name }}</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Minutes</th>
                <th scope="col">Note</th>
                <th scope="col">Create Date</th>
            </tr>
        </thead>
        <tbody>
            {% for time in times %}
            <tr>
                <td>{{ time.inday }}</td>
                <td>{{ time.hours }}</td>
                <td>{{ time.note }}</td>
                <td>{{ time.time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}