{% extends "base.html" %}
{% block title %}User{% endblock %}

{% block user_table %}
<h1 style="text-align:center;margin-top:15px;color:#026592;">Tutors</h1>
<ul class="list-group list-group-flush" id="users">
    {% for user in users %}
    <li class="list-group-item" style="background-color:#cee8f0;color:#026592;">
        {{ user.id }}
        {{ "." }}
        {{ user.first_name }}
        {{ user.last_name }}
        {{ user.email }}
        {{ user.subjects }}
        {{ user.timeAvailable }}
        {{ user.role }}
    </li>
    {% endfor %}
</ul>
{% endblock %}
<!--hello-->